$salmon: rgb(255,207,207)
$dark_red: rgb(128,27,27)

#container
  width: 800px
  margin: 100px auto 0 auto
  border: 1px solid #000
  min-height: 400px
  -moz-border-radius: 10px
  -webkit-border-radius: 10px
  -moz-box-shadow: 0 0 10px
  -webkit-box-shadow: 10px #888
  box-shadow: 10px #888
  background-color: #fff

#input_box
  margin: 100px auto
  text-align: center
  font-family: helvetica

input.field
  font-size: 48px
  width: 750px
  text-align: center

input.button
  border: 2px solid #000
  font-size: 40px

div.errorExplanation
  margin: 0 auto
  padding: 5px 30px
  width: 150px
  background-color: $salmon
  -moz-border-radius-topleft: 10px
  -webkit-border-top-left-radius: 10px
  -moz-border-radius-topright: 10px
  -webkit-border-top-right-radius: 10px
  border-top: 1px solid $dark_red
  border-left: 1px solid $dark_red
  border-right: 1px solid $dark_red
  h2
    display: none
  p
    display: none
  ul
    margin: 0
    padding: 0
    list-style: none
    li
      color: $dark_red


div.field_with_errors
  input
    border: 1px solid $dark_red
    margin-top: 0px
    background-color: $salmon
    color: $dark_red

body
  /*background-color: #eee
  background-image: -moz-linear-gradient(bottom, #fff, #bbb)
  background-repeat: no-repeat

