#container {
  width: 800px;
  margin: 100px auto 0 auto;
  border: 1px solid black;
  min-height: 400px;
  -moz-border-radius: 10px;
  -moz-box-shadow: 0 0 10px;
  -webkit-border-radius: 10px;
  -webkit-box-shadow: 0 0 10px;
  box-shadow: 10px #888888;
  background-color: white; }

#input_box {
  margin: 100px auto;
  text-align: center;
  font-family: helvetica; }

input.field {
  font-size: 48px;
  width: 750px;
  text-align: center; }

input.button {
  border: 2px solid black;
  font-size: 40px; }

div.errorExplanation {
  margin: 0 auto;
  padding: 5px 30px;
  width: 150px;
  background-color: #ffcfcf;
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  border-top: 1px solid #801b1b;
  border-left: 1px solid #801b1b;
  border-right: 1px solid #801b1b; }
  div.errorExplanation h2 {
    display: none; }
  div.errorExplanation p {
    display: none; }
  div.errorExplanation ul {
    margin: 0;
    padding: 0;
    list-style: none; }
    div.errorExplanation ul li {
      color: #801b1b; }

div.field_with_errors input {
  border: 1px solid #801b1b;
  margin-top: 0px;
  background-color: #ffcfcf;
  color: #801b1b; }

body {
  background-color: #eeeeee;
  background-repeat: no-repeat; }
