#sign_up_form
  = form_for @sign_up do |f|
    = f.error_messages
    = f.text_field :email, :class => 'field', :placeholder => 'Enter email'
    %br
    %br
    = f.submit 'Sign Up!', :class => 'button'
