!!!
%header
  - ['application'].each do |css|
    %link{ :href => "/stylesheets/#{css}.css", :rel => "stylesheet", :type => "text/css", :media => "screen", :charset => "utf-8" }

  - ['jquery-1.5.1.min', 'jquery-ui-1.8.11.custom.min','rails', 'application'].each do |js|
    %script{:src => "/javascripts/#{js}.js", :type => 'text/javascript'}

#container
  = yield